/* .chatList{
    background-color: green;
} */

.user {
    padding: 10px;
    color: white;
    margin: 5px;
    background-color: rgb(30, 94, 30);
}


.user:hover {
    background-color: rgb(31, 186, 31);
}