@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow: hidden;
  box-sizing: border-box;
}

body {
  /* background: url('../src//assets/interface-3614766.svg'); */
  /* background-color: #161717; */
  background-color: #1c1c1c;
  /* background-color: #2C2C2C; */
}
